.section {
  padding: 0px 10%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* border: 1px solid red; */
  transition: background 0.3s ease-in-out;
}

.light {
  background-color: #ffffff;
  color: #333;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

.section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: -5rem;
  /* border: 1px solid red; */
}

.text {
  max-width: 600px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.role {
  font-size: 1.2rem;
  font-weight: 500;
  color: #666;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
}

.social-links ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.icon-content {
  position: relative;
}

.icon-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  transition: background 0.3s ease-in-out;
}

.icon-content a:hover {
  background-color: #555;
}

.icon-content svg {
  width: 30px;
  height: 30px;
  color: #333;
}

.icon-content1 {
  width: 30px;
  height: 30px;
  color: #007bf5;
}

.tooltip {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.icon-content:hover .tooltip {
  opacity: 1;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.profile-image:hover {
  transform: scale(1.05);
}

.darkBorder {
  border: 3px solid #fff;
}

.lightBorder {
  border: 3px solid #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .section-content {
    flex-direction: column;
    text-align: center;
  }

  .text {
    max-width: 100%;
  }

  .social-links ul {
    justify-content: center;
  }

  .profile-image {
    width: 125px;
    height: 125px;
    margin-top: 20px;
  }
}
